extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  div(class="container u-full-height")
     img(src="https://dummyimage.com/640x360/ccc/ded")

block scripts
  script(src='/js/client.min.js')
